version: 2
jobs:
  build:
    docker:
      - image: umarmkhan/ubuntu:latest

    working_directory: ~/repo

    steps:
      - checkout

      - run:
          command: mkdir build

      - run:
          name: Generate Makefile
          command: |
            cd build &&
            cmake -DCMAKE_EXPORT_COMPILE_COMMANDS=ON ..

      - run:
          name: Lint
          command: |
            cd build &&
            /usr/lib/llvm-6.0/share/clang/run-clang-tidy.py ./src/*

      - run:
          name: Build
          command: cmake --build build

      - run:
          name: Test
          command: build/bin/TestChess++

