version: 2
jobs:
  build:
    docker:
      - image: alpine:edge

    working_directory: ~/repo

    steps:
      - checkout

      - run:
          command: mkdir build

      - run:
          name: Install Packages
          command: apk add g++ gcc make cmake git clang
      - run:
          name: Generate Makefile
          command: cmake -B build -DCMAKE_EXPORT_COMPILE_COMMANDS=ON

      - run:
          name: Lint
          command: |
            mv ./build/compile_commands.json . &&
            /usr/lib/llvm-6.0/share/clang/run-clang-tidy.py ./src/*

      - run:
          name: Build
          command: cmake --build build

      - run:
          name: Test
          command: build/bin/TestChess++

